.header-container {
  width: 100%;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.header-container a {
  text-decoration: none;
  margin: 2rem;
  color: white;
  font-weight: bold;
  text-shadow: 0rem 0.2rem rgb(65, 155, 125);
}

.header-container_left {
  display: flex;
  text-align: center;
}

@media (max-width: 700px) {
  .header-container {
    font-size: 1.3rem;
  }
}
