.category-card_container {
  width: 40vw;
  height: 25vh;
  background-color: white;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 0.3rem 0.3rem 1rem white;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card_title {
  font-size: 1.7rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.555);
  width: max-content;
  border-radius: 4rem;
  padding: 1rem;
}

.workshops {
  background: url("https://i.ibb.co/NZdQyHK/47576268-372574996811938-8898650875526905856-n.jpg")
    no-repeat center center/cover;
}

.about-us {
  background: url("https://i.ibb.co/4fH08tt/47575789-372566180146153-2161273143014981632-n.jpg")
    no-repeat center center/cover;
}

.reviews {
  background: url("https://i.ibb.co/h11RFv0/47571762-372571440145627-4268881678983757824-n.jpg")
    no-repeat center center/cover;
}

@media (max-width: 700px) {
  .category-card_container {
    width: 30vw;
    height: 15vh;
    margin: 0.4vw;
  }

  .category-card_title {
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    width: max-content;
    border-radius: 4rem;
    padding: 1rem;
  }
}
